<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar with Navigation Drawer</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  <header>
    <a href="#maincontent" class="logo">GoodEat</a>
    <div id="menu-icon">
      <a href="#"><i class="bi bi-list"></i></a>
    </div>  
    <ul class="navbar">
      <li><a href="/" class="active">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://github.com/MuhammadArifRahman">About Us</a></li>
    </ul>

  </header>

  <main>
    <div class="hero">
      <img src="/images/heros/hero-image_2.jpg" alt="hero image">
    </div>
    
    <section class="container">
      
    </section>

  </main>

  <footer>
    <h5>Copyright ©2023 - GoodEat</h5>
  </footer>

</body>
</html>

