*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
:root{
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #b8b8b8;
}

body{
  min-height: 100%;
  overflow-x: hidden;
  color: var(--text-color);
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 28px 12%;
  transition: all .50s ease;
}

button, a{
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

.logo{
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 600;
  max-width: 44px;
  max-height: 44px;
}

.navbar{
  display: flex;
  list-style: none;
}

.navbar a{
  color: var(--text-color);
  /* font-size: 1.1rem; */
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
  max-width: 44px;
  max-height: 44px;
}

.navbar a:hover{
  color: var(--main-color);
}

.navbar a.active{
  color: var(--main-color);
}

#menu-icon{
  font-size: 44px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  display: none;
  min-width: 44px;
  min-height: 44px;
}

.hero{
  width: 100vw;
  height: 70vh;
  margin-top: 5%;
  overflow: hidden;
}

.hero img{
  width: 100%;
}

h1{
  color: black;
  margin: 20vh 20vh -1vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  background-color: #fff;
  color: var(--bg-color);
  width: 270px;
  height: 400px;
  margin: 40px 30px;
  border-radius: 10px;
  border: 2px solid rgb(228, 228, 228);
  overflow: hidden;
}

.card .card-img{
  width: 270px;
  height: 170px;
  overflow: hidden;
  position: relative;
}

.card .card-img img{
  width: 270px;
  height: 170px;
  background-color: aqua;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

.card a{
  display: inline-block;
  color: var(--bg-color);
  font-weight: 600;
  font-size: 1.5em;
  max-width: 44px;
  max-height: 44px;
}

.card a:hover{
  color: var(--main-color);
}

.card a, .card p{
  margin: 10px;
  line-height: 1.5rem;
}

.card .card-img .city{
  position: absolute;
  background-color: #fff;
  margin-top: 14px;
  width: 120px;
  text-align: center;
  padding: 5px;
  z-index: 2;
  border-radius: 0 10px 10px 0;
}

.card .card-img .city:hover{
  transition: all .50s ease;
  width: 170px;
}

.card .card-img .rating{
  position: absolute;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  z-index: 99;
  font-weight: 600;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  border-radius: 5px 0 0 0;
  background-color: #fff;
}

.card .card-body{
  overflow-y: scroll;
  width: 100%;
  height: 495px;
  scrollbar-width: none;
}

.card .card-body::-webkit-scrollbar {
  display: none;
}

.first{
  color: #fff;
  position: absolute;
  left: 150px;
  top: -50px;
}

.first:focus{
  top: 20px;
  left: 2vw;
  transition: all .50s ease;
  border: 1px solid lightskyblue;
}

.skip-link:focus {
  border: 1px solid black;
}

footer{
  width: 100%;
  height: 40px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px){
  header{
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar li a{
    padding: 21px 0;
    margin: 0px 20px;
    max-width: 44px;
    max-height: 44px;
  }
}

@media (max-width: 1090px){
  #menu-icon{
    display: block;
    max-width: 44px;
    min-height: 44px;
  }
  #menu-icon button {
    font-size: 40px;
    padding: 0;
    background-color: transparent;
    color: white;
    border: none;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 30vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .navbar a{
    display: block;
    transition: all .50s ease;
    max-width: 44px;
    max-height: 44px;
  }
  .navbar a:hover{
    color: var(--text-color);
    transform: translateY(5px);
  }
  
  .navbar a.active{
    color: var(--text-color);
  }

  .navbar.open{
    right: .5%;
  }

  .hero{
    height: 50vh;
  }
  
  .hero img{
    height: 100%;
    /* width: 100%; */
  }
}